body {
  font-family: 'Open Sans', sans-serif;     
}

h1, h2, h3 {
  font-family: "Copperplate";
}

h2 {
  color: black;
}

.site-footer {
  background-image: linear-gradient(rgb(221, 143, 156), white);
  padding: 40px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to left,rgb(221, 143, 156),white, white);
  color: black;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar-dark {
  background-color: black;
}


